@{
    ViewData["Title"] = "Submit Files - Astley Gilbert WordPress";
}
@model AGUploadForm.Models.FormViewModels.FormViewModel

<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span ></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <div class="clear-files">
                <a href="javascript:void(0)" class="clear-files-button cancel">Cancel</a>
            </div>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span >
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                <!--<a href="{%=file.url%}" title="{%=file.extra.originalName%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.extra.originalName%}</a>-->
                <span title="{%=file.extra.originalName%}">{%=file.extra.originalName%}</span>
                {% } else if (file.extra) { %}
                <span title="{%=file.extra.originalName%}">{%=file.extra.originalName%}</span>
                {% } else { %}
                <span title="{%=file.extra.originalName%}">{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
            <div class="clear-files">
                <a href="javascript:void(0)" class="clear-files-button delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>Delete</a>
                <input type="checkbox" name="delete" value="1" class="toggle invisible" checked="checked">
            </div>
            {% } else { %}
            <div class="clear-files">
                <a href="javascript:void(0)" class="clear-files-button cancel">Cancel</a>
            </div>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>

<section class="printer-express u-bg-light">
    <div class="row">
        <div class="col-sm-6 heading">
            <h5>Looking for Printer Express?</h5>
        </div>
        <div class="col-sm-6 button-container"><a href="" class="button button-thin">Print Express Log In</a></div>
    </div>
</section>
<main class="main submit-files">
    <form id="SubmitForm" method="post" action="@Context.Request.Path">
        <div class="container">
            <input type="hidden" asp-for="ObjectContextId" />
            <fieldset class="choose-location">
                <div class="form-group">
                    <label asp-for="SelectedOfficeName">
                        <h3>@Html.DisplayNameFor(m => m.SelectedOfficeName)</h3>
                    </label>
                    <div class="input-container">
                        <select asp-for="SelectedOfficeName" asp-items="Model.OfficeSelectList" class="form-control" data-ag-field="Branch"></select>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="@Model.RememberLocation" />
                            Remember Location
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="SelectedDepartmentName">
                        <h3>@Html.DisplayNameFor(m => m.SelectedDepartmentName)</h3>
                    </label>
                    <div class="input-container">
                        <select asp-for="SelectedDepartmentName" asp-items="Model.DepartmentSelectList" class="form-control"></select>
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="@Model.RememberDepartment" />
                            Remember Department
                        </label>
                    </div>
                </div>
            </fieldset>

            <!-- Job Information -->
            <fieldset>
                <label>
                    <h3>Job Information</h3>
                </label>
                <div class="form-group">
                    <label asp-for="JobInformation.DueDateTime" class="label--required"></label>
                    <div class="input-container">
                        <input type="text" asp-for="JobInformation.DueDateTime" class="form-control" placeholder="Enter Due Date/Time" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="JobInformation.AccountNumber"></label>
                    <div class="input-container">
                        <input type="text" asp-for="JobInformation.AccountNumber" class="form-control" placeholder="Enter Account No. (Optional)" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="JobInformation.ProjectNumber"></label>
                    <div class="input-container">
                        <input type="text" asp-for="JobInformation.ProjectNumber" class="form-control" placeholder="Enter Project/PO No. (Optional)" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="JobInformation.Instructions" class="label--required"></label>
                    <div class="input-container">
                        <textarea asp-for="JobInformation.Instructions" class="form-control" rows="10" placeholder="Enter Instructions"></textarea>
                    </div>
                </div>
            </fieldset>

            <!-- Contact Information -->
            <fieldset class="form-group">
                <label>
                    <h3>Contact Information</h3>
                </label>
                <div class="form-group">
                    <label asp-for="ContactInformation.Name" class="label--required"></label>
                    <div class="input-container">
                        <input type="text" asp-for="ContactInformation.Name" class="form-control lg-size" placeholder="Enter Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactInformation.Company"></label>
                    <div class="input-container">
                        <input type="text" asp-for="ContactInformation.Company" class="form-control lg-size" placeholder="Enter Company" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactInformation.Address" class="label--required"></label>
                    <div class="input-container">
                        <input type="text" asp-for="ContactInformation.Address" class="form-control xlg-size" placeholder="Enter Address" data-ag-field="Address" />
                        <input type="text" asp-for="ContactInformation.UnitNumber" class="form-control sm-size" placeholder="Enter Unit Number (Optional)" data-ag-field="UnitNumber" />
                        <div class="form-control-group">
                            <input type="text" asp-for="ContactInformation.City" class="form-control sm-size" placeholder="Enter City" data-ag-field="City" />
                            <input type="text" asp-for="ContactInformation.Province" class="form-control xxs-size" placeholder="PO" data-ag-field="Province" />
                            <input type="text" asp-for="ContactInformation.PostalCode" class="form-control xs-size" placeholder="Postal Code" data-ag-field="PostalCode" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactInformation.Email" class="label--required"></label>
                    <div class="input-container">
                        <input type="text" asp-for="ContactInformation.Email" class="form-control lg-size" placeholder="Enter Email Address" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ContactInformation.PhoneNumber" class="label--required"></label>
                    <div class="input-container">
                        <input type="text" asp-for="ContactInformation.PhoneNumber" class="form-control sm-size" placeholder="Enter Phone Number" />
                    </div>
                </div>
                <div class="clear-fields">
                    <a href="javascript:void(0)" onclick="resetSubmitForm()">Clear All Fields</a>
                </div>
            </fieldset>
        </div>
    </form>
</main>

<section class="u-bg-light">
    <div class="container">
        <!-- File Upload -->
        <form id="fileupload" action="/Backload/FileHandler" method="POST" enctype="multipart/form-data">
            <h2 class="u-align-center">File Uploader&nbsp<span id="fileCount"></span></h2>
            <div class="clear-files fileupload-buttonbar">
                <a href="javascript:void(0)" class="clear-files-button delete">Clear All Files</a>
            </div>
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <!-- The table listing the files available for upload/download -->
            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
            <div class="fileupload-buttonbar">
                <span class="fileinput-button">
                    <span>Add File(s)</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <!--
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Clear All Files</span>
                </button>
                <input type="checkbox" class="toggle">
                <span class="fileupload-process"></span>
                //-->
            </div>
            <!--
            <div class="col-md-5 fileupload-progress fade">
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <div class="progress-extended">&nbsp;</div>
            </div>
            //-->
        </form>
        <div class="button-container u-align-center">
            <button type="button" class="button start" id="SubmitButton">
                <span>Submit</span>
            </button>
        </div>
    </div>

</section>

<a id="confirm-dialog-link" class="popup-modal" href="#confirm-dialog"></a>
<div id="confirm-dialog" class="mfp-hide white-popup">
    <a class="popup-modal-dismiss" href="#"><span>Dismiss</span></a>
    <p>Please add one or more file(s) before submission</p>
</div>

<a id="validation-dialog-link" class="popup-modal" href="#validation-dialog"></a>
<div id="validation-dialog" class="mfp-hide white-popup">
    <a class="popup-modal-dismiss" href="#"><span>Dismiss</span></a>
    <div class="popup-scroll" asp-validation-summary="All">
        <h3>Please correct the following error(s) before submission:</h3>
    </div>
</div>

<a id="form-submit-link" class="popup-modal" href="#form-submit-overlay"></a>
<div id="form-submit-overlay" class="mfp-hide white-popup">
    <div class="u-align-center">
        <p>
            <img src="~/images/loader.gif" alt="Loading" />
            Submitting Files...
        </p>
    </div>
</div>

@section scripts
{
    <script src="~/Backload/Client/blueimp/bundles/js/jquery.fileupload.basicplusui.min.js"></script>
    <environment names="Development">
        <script id="formsubmission.js" src="~/js/filesubmission.js"
                data-model-state-is-valid="@ViewData.ModelState.IsValid"
                data-object-context="@Model.ObjectContextId"
                data-get-department-list-url="@Url.Action("GetDepartmentSelectListByOfficeName")"
                data-vip="@Json.Serialize(Model.Vip).ToString()"
                asp-append-version="true">
        </script>
    </environment>
    <environment names="Staging,Production">
        <script id="formsubmission.js" src="~/js/filesubmission.min.js"
                data-model-state-is-valid="@ViewData.ModelState.IsValid"
                data-object-context="@Model.ObjectContextId"
                data-get-department-list-url="@Url.Action("GetDepartmentSelectListByOfficeName")"
                data-vip="@Json.Serialize(Model.Vip).ToString()"
                asp-append-version="true">
        </script>
    </environment>
}

